header#main-header {
    width: 100%;
    height: 60px;
    background: rgba(218,85,47, 0.9);
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    box-shadow: 0 0 10px rgba(218,85,47, 0.9);
}

header div {
    transition: all 0.3s;
}

header div:hover {
    cursor: pointer;
    font-size: 22px;
    color: #3f3f3f;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

main article.card{
    border: 3px solid #DDD;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
}

main article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

main article a, main form button{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

main article a:hover{
    background: #da552f;
    color: #fff;
}

main form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

main form input, main form textarea{
    border: 3px solid #da552f;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 40px;
    background-color: #fff;
    font-size: 16px;
    padding: 20px;
}

main form textarea{
    resize: vertical;
    height: 100px;
}

main form button:hover{
    cursor: pointer;
    background: #da552f;
    color: #fff;
}